<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置</title>
    <link rel="stylesheet" id="dashicons-css" href="static/dashicons.min.css" type="text/css" media="all">
<link rel="stylesheet" id="buttons-css" href="static/buttons.min.css" type="text/css" media="all">
<link rel="stylesheet" id="forms-css" href="static/forms.min.css" type="text/css" media="all">
<link rel="stylesheet" id="l10n-css" href="static/l10n.min.css" type="text/css" media="all">
<link rel="stylesheet" id="login-css" href="static/login.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="buttons-css" href="static/buttons.min.css" type="text/css" media="all">
</head>
<body>
    <button class="button button-primary button-large" style="width: 200px;height: 100px;"><a href="/solve_update">重置</a></button>
    <br>
    <br>
    <div align="left">
        <span id="backtoblog" style="width: 200px;height: 100px;><a href="http://axuhongbo.top/yaner"  >← 主页</a></span>
	</div>
</body>
</html>